<html>
<head>
	<title>임베디드 기말 프로젝트</title>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
	<p>
	<h1>임베디드 카메라</h1>
	</p>
	<img src={{ url_for('video_feed') }}>
	<img src={{ url_for("static", filename="img.jpg")}}>
	<h3>{{timer}}</h3>
	<p>
	<input type="button" value="촬영" onclick='refresh();'>
	<script>
		function refresh(){
			location.reload()
		}
	</script>
	</p>
	<p>
	<h4>메뉴얼</h4>
	</p>
	<ul>
		{% for n in manual %}
		<li>{{n}}</li>
		{% endfor %}
	</ul>
</body>
</html>
